<section id="{{id}}">
  <section class="dashboard-blog" data-modal-target="{{id}}">
    <h2>{{title}}</h2>
    <p>Click to edit</p>
</section>



<div id="modal-{{id}}" class="modal">
  <div class="modal-content">
    <h4>Edit blog</h4>
    <span class="close">&times;</span>
    <div>
      <label>Title</label>
      <input class="update-blog-title" value="{{title}}" name="{{id}}">
    </div>
    <div>
      <label>Body</label>
      <textarea class="update-blog-body">{{body}}</textarea>
    </div>
    <div>
        <button class="update-blog-button">Update</button>
        <button class="delete-blog-button">Delete</button>
    </div>
  </div>
</div>
</section>


