<section id="{{id}}">
  <section class="dashboard-blog" data-modal-target="{{id}}">
    <h2>{{title}}</h2>
    <p>Click to edit</p>
  </section>
</section>



<div id="modal-{{id}}" class="modal">
  <div class="modal-content">
    <h4 class="mb-4">Edit blog</h4>
    <span class="close">&times;</span>
    <div class="form-group">
      <label for="update-blog-title">Title</label>
      <input id="update-blog-title" class="form-control update-blog-title" value="{{title}}" name="{{id}}">
    </div>
    <div class="form-group">
      <label for="update-blog-body">Body</label>
      <textarea id="update-blog-body" class="form-control update-blog-body">{{body}}</textarea>
    </div>
    <div>
      <button class="btn btn-success update-blog-button">Update</button>
      <button class="btn btn-danger delete-blog-button">Delete</button>
    </div>
  </div>
</div>

</section>

{{!-- When you go to the dashboard this is the blog card that gets displayed --}}
{{!-- the top section is the card the bottom section is the modal --}}

